* {
  margin: 0;
  padding: 0;
}
body {
  background-color: black;
}
.search-bar {
  width: 50em;
  margin: .5em 0;
}

.search-container {
  display: flex;
  justify-content: center;
}
.brand-logo {
  font-size: 25px;
  background-color: rgb(66, 219, 100);
  display: inline-block;
  border-radius: 10px;
  padding: .2em;
  margin-left: -13em;
}
.brand-logo-container {
  margin: .5em 0;
}
.video-container {
  background-color: black;
    height: 400px;
    width: 300px;
}
.video:hover {
  cursor: pointer;
}
.video-thumbnail {
  height: 120px;
  width: 120px;
}
.video-title {
  display: flex;
  width: 120px;
  margin: auto;
  font-size: 20px;
  color: white;
  text-align: center;
  margin:auto;
  justify-content: center;
}
.video {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: 1px solid gray;
  border-style: outset;
  margin-bottom: .4em;
}

.first-row, .second-row {
  display: flex;
  text-align: center;
  padding-left: .2em;
}
.first-row {
  padding-left: .2em;
}
.second-row {
  padding-right: .2em;
}
.second-video-row {
  /* border: 2px dotted white; */
}
.one-vid-row {
  /* border: 2px dotted blue; */
  display: flex;
  width: 100vw;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: .7em;
}
