body {
  /* background-color: black; */
}
.search-bar {
  width: 50em;
  margin: .5em 0;
}

.search-container {
  display: flex;
  justify-content: center;
}
.brand-logo {
  font-size: 25px;
  background-color: rgb(66, 219, 100);
  display: inline-block;
  border-radius: 10px;
  padding: .2em;
  margin-left: -13em;
}
.brand-logo-container {
  margin: .5em 0;
}
.video-player {

}
.video-container {
  background-color: black;
    height: 400px;
    width: 300px;
}
.video:hover {
  cursor: pointer;
}
.video-thumbnail {
  height: 125px;
  width: 125px;
}
.video-title {
  display: flex;
  flex-wrap: wrap;
  width: 125px;
  text-align: center;
}
